@import '../../styles/variables';

.inputGroup {
    display: flex;
    flex-direction: column;
  
    label {
      color: $foreground-color;
      margin-bottom: 0.3rem;
      margin-top: 0.5rem;
      font-size: 0.95rem;
    }
  
    input {
      padding: 0.6rem;
      gap: 0.5rem;
      border-radius: 20px;
      border: 2px solid $input-border;
      background-color: #44475a;
      color: #f8f8f2;
      outline: none;
  
      &:focus {
        border-color: $highlight;
      }
    }
  }
  